@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 400px;
  background-color: white;
}

.main-img {
  width: 400px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
